.Conhece{
    margin: auto;
    text-justify: auto;
    text-align: justify;
    width: 80%;
    margin-bottom: 10vh;
}

#apresentacao_title{
    margin-top: 2vh;
    text-decoration: underline;
    text-decoration-color: #FFEE70;
    text-decoration-thickness: 3px;
    
}

#row{
    background-color: #22115F;
    
}

#container{
    text-align: center;
}

.responsive_img{
    max-width: 100%;
    height: auto;
    margin-bottom: 2vh;
}
.ConheceHeader{
    background: #22115F url('../../images/conhece.png') no-repeat center center / auto 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
  }
