
@media (min-width: 800px){
    .Indice{
    left:0px;
    display: block;
    width: calc(((100vw - 900px) / 2) - 40px);
    float: left;
    padding: 20px 0 0 20px;
    top: 60px;
    position: sticky;
    margin-left: 0;
}

.expand-button{
    display: none;
}

ul{ 
    padding: 0 17px 0 0;
    margin: 0;
    list-style-type: none;
}

.nav-indice{
    display: flex;
    flex-direction: column;
}

li a{
    color: #9988FF;
    margin-top: 20px;
}


}

@media (max-width: 799px){
    aside{
        text-align: center;
        z-index: 3;
        left:0;
        top:0;
        position: sticky;
        background-color: #9988FF;

    }

    .IndiceName{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 2vh;
    }

    .nav-indice{
        display: none;
        transition: 3s ease-out;

    }

    .aberto{
        display: block;
        transition: all .2s ;
    }
    ul{
        list-style: none;
    }
    .nav-indice> li{
        border-bottom: none;
        padding: 3px;
        
    }

    .indiceItem{
        color: white;
    }
    
    .transition {
        transition: 3s ease-out;
    }
}




.indiceItem{
    display: block;  
    transition: all .2s;
    text-decoration: none;
}
.indiceItem:hover{
    color: #22115F;
    font-weight: bolder;
}