.MainHeader{
    background: #22115F url('../../images/main_logo.png') no-repeat center center / auto 100%;
    height:100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}



#mainButtons{
    width:40%;
}

#slogan{
    color: white;
    font-weight: bolder;
    margin-bottom: 2vh;
    font-size: 50vi;
}

.navButton{
    margin-bottom: 1vh;
}

.navigation{
    margin-top: 60vh;
    margin-bottom: 5vh;
    text-decoration: wavy;

}


.btn.btn-outline-primary {
    color: #FFFFFF;
    font-weight: bold;
    border-color: #9988FF;
    border-width: 2px;
}

.btn.btn-outline-primary:hover, .btn.btn-outline-primary:focus, .btn.btn-outline-primary:active, .btn.btn-outline-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: #CAC5FF;
    border-color: #9988FF;; /*set the color you want here*/
}