.MainHeader{
    background: #22115F url('../../images/main_logo.png') no-repeat center center / auto 100%;
    height:100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

/** 
 * iPad with portrait orientation.
 */
 @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
    .MainHeader {
      height: 1024px;
    }
  }
  
  /** 
   * iPad with landscape orientation.
   */
  @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
    .MainHeader {
      height: 768px;
    }
  }
  
  /**
   * iPhone 5
   * You can also target devices with aspect ratio.
   */
  @media screen and (device-aspect-ratio: 40/71) {
    .MainHeader {
      height: 500px;
    }
  }

@media (max-width: 799px){
    #mainButtons{
        width:100%;
    }
}
@media (min-width: 799px){
    #mainButtons{
        width:40%;
    }
}



#slogan{
    color: white;
    font-weight: bolder;
    margin-bottom: 2vh;
    font-size: 50vi;
}

.navButton{
    margin-bottom: 1vh;
}

.navigation{
    margin-top: 60vh;
    margin-bottom: 5vh;
    text-decoration: wavy;

}


.btn.btn-outline-primary {
    color: #FFFFFF;
    font-weight: bold;
    border-color: #9988FF;
    border-width: 2px;
}

.btn.btn-outline-primary:hover, .btn.btn-outline-primary:focus, .btn.btn-outline-primary:active, .btn.btn-outline-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: #CAC5FF;
    border-color: #9988FF;; /*set the color you want here*/
}