.scrollToTopBtn {
    /* same general styles as before */
    
    /* place it at the bottom-right corner */
    position: fixed;
    bottom: 30px;
    right: 30px;
  
    /* keep it at the top of everything else */
    z-index: 100;
  
    /* hide with opacity */
    opacity: 0;
  
    /* also add a translate effect */
    transform: translateY(100px);
  
    /* and a transition */
    transition: all .5s ease
  }
  
  .showBtn {
    opacity: 1;
    transform: translateY(0)
  }

  .paragrafo{
    padding-top: 2vh;
  }

.DepartamentoMain{
    margin: auto;
    text-justify: auto;
    text-align: justify;
    width: 80%;
    margin-bottom: 10vh;
}

#selecoes_aefeup{
  margin-bottom: 1vh;
}

.departamento{
  margin-bottom: 0vh;
  background-color: #CAC5FF;
}
.departamento h2{
  color: #22115F;
  font-weight: bolder;
}

#introduçao{
    padding-top: 8%;
}

#expressa{
    font-size: 200%;    
}
.paragrafo{
    padding-top: 4%;
}
#last{
    padding-bottom: 20%;
}
p{
    font-size: 17px;
}

.backToMain{
  margin-top: 2vh;
  margin-left: 2vh;
  color: white;
  background-color: #22115F;
  width: 4%;
  border: none;
}

.backToMain :hover{
  color: #9988FF
}

.MAGHeader{
  background: #22115F url('../../images/MAG_titulo.png') no-repeat center center / auto 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
}

.btn.btn-outline-primary {
  color: #FFFFFF;
  font-weight: bold;
  border-color: #9988FF;
  border-width: 2px;
}

.CFHeader{
  background: #22115F url('../../images/CF_titulo.png') no-repeat center center / auto 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
}

.RecreativoHeader{
  background: #22115F url('../../images/recreativo_titulo.png') no-repeat center center / auto 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
}

.ComunicacaoHeader{
  background: #22115F url('../../images/comunicacao_titulo.png') no-repeat center center / auto 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
}

.CooperacaoHeader{
  background: #22115F url('../../images/cooperacao_titulo.png') no-repeat center center / auto 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
}

.CulturalHeader{
  background: #22115F url('../../images/cultural_titulo.png') no-repeat center center / auto 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
}

.DesportoHeader{
  background: #22115F url('../../images/desporto_titulo.png') no-repeat center center / auto 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
}

.InformaticaHeader{
  background: #22115F url('../../images/informatica_titulo.png') no-repeat center center / auto 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
}

.LogisticaHeader{
  background: #22115F url('../../images/logistica_titulo.png') no-repeat center center / auto 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
}

.PedagogiaHeader{
  background: #22115F url('../../images/pedagogia_titulo.png') no-repeat center center / auto 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
}

.AcaoSocialHeader{
  background: #22115F url('../../images/acao_social_titulo.png') no-repeat center center / auto 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
}