.MainHeader{
    background: #22115F url('../../images/miguel.png') no-repeat center center / auto 100%;
    height:100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}


.navigation{
    margin-top: auto;
    margin-bottom: 5vh;
    text-decoration: wavy;

}

.manifesto{
    margin-right: 2vh;
}

.btn.btn-outline-primary {
    color: #FFFFFF;
    font-weight: bold;
    border-color: #9988FF;
    border-width: 2px;
}

.btn.btn-outline-primary:hover, .btn.btn-outline-primary:focus, .btn.btn-outline-primary:active, .btn.btn-outline-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: #CAC5FF;
    border-color: #9988FF;; /*set the color you want here*/
}