@import url('https://fonts.googleapis.com/css?family=Poppins');

body, html{
    font-family: 'Poppins';
    background-color: #22115F;
}

h2{
    margin-top: 2vh;
    text-decoration: underline;
    text-decoration-color: #FFEE70;
    text-decoration-thickness: 3px;
}

a:hover{
    text-decoration: none;
}